@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,100;1,200;1,300;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.form-text{
    /* border:2px solid #444; */
    padding:50px 80px;
    width:50rem;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border: 2px solid #5555554e;
    border-radius: 10px;
    
}

.container{
    /* width: 100%; */
    background-color: #fff;
}

.bg-img{
    width: 100%;
    background-image: linear-gradient(to right, #27ae60, #CDDC39);
    /* background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../client/photo/bg-image.jpg'); */
}

/* chnage the color of form label */
.mb-2{
    color: #000;
}