.container{
   display: flex;
   justify-content: center; 
   margin-top: 50px;
}
.vaccine-info{
   padding-bottom: 20rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   width:80rem;
   height: 600px;
}
.text{
    text-align: center;  
}
.vaccine-notice{
    
     border:1px solid #4444448e; 
     width:30rem;
     height:300px;
} 