

/* .text{
    text-align: center;
     
} */


.vaccine-info{
    background-image: linear-gradient(to right, #27ae60, #CDDC39);
}

.vaccine-notice{
    margin-top:2rem ;
    width: 800px;
    height: 520px;
    border-radius: 10px;
    border: 1px solid #444;
}

.image img{
    margin-top: 20px;
    width:25rem;
    border-radius: 10px;
}

